<html>
	<head>
	</head>
	<body>
		<p>
			These people are next to me in the cafe either doing some sort of weird therapy or auditioning for the part of the voices in the head of a
			schizophrenic person. Back and forth at the speed of light, they're bantering in the upstairs 'study & work area': "You're making me feel uncomfortable." "You're making me feel uncomfortable." "You're making me feel uncomfortable." 
			"I'm making you feel uncomfortable?" "You make me feel embarassed." "You make me feel angry." "Am I pissing you off?" "No, not pissed off, just..." "You're awkward."
			"I'm making you feel awkward?" "I'm a little distracted." "You're making me feel distracted." "Why are you distracted." "You're beautiful." "You're making feel bicurious." "I'm bicurious." "HAHAHAHAHA".
			"You make me feel embarassed." "Am I pissing you off?" "I'm pissed off." "You're embarassing." "I'm, distracted. You're making me feel distracted." "I'm distracted." "Why are you distracted again?"
			"HAHAHAHAHAHAHAHAHAA." "You're making me feel awkward." "I'm making you feel awkward?" "Yeah." "I'm insulted." "You're insulted?" "I'm insulted." "I feel like you're instigating." "HAHAHAHAHA."
		</p>
		<p>
			I don't know what they're doing. But they're making me feel like putting a curse on them so they get laryngitis for the rest of their lives and can't speak.
			Yeah. They make me feel like that. They make me feel like cursing them. They make me feel like cursing them. They're distracting. They make me feel distracted. 
		</p>
	</body>
</html>
